<div class="upload-container"
     #uploadzone
     dropzone

     (dropped)="onDrop($event)"
     (click)="onClick()">
  <p class="icon"><mat-icon>cloud_upload</mat-icon></p>
  <p class="title">Click or drag file to this area to upload</p>
  <p class="desc">Support for a single or bulk upload. Strictly prohibit from uploading company data or other band files</p>
</div>

<ul>
    <li *ngFor="let file of files" [@fadeInOut]="file.state">
      <mat-progress-bar [value]="file.progress"></mat-progress-bar>
      <span class="file-label">
      {{file.data.name}} 
      <a title="Retry" (click)="retryFile(file)" *ngIf="file.canRetry">
      <mat-icon>refresh</mat-icon></a>
      <a title="Cancel" (click)="cancelFile(file)" *ngIf="file.canCancel">
      <mat-icon>cancel</mat-icon></a>
      </span>
  </li>
</ul>

<input
  type="file"
  id="fileUpload"
  name="fileUpload"
  multiple="multiple"
  accept="{{accept}}"
  style="display:none;"/>