<header>
  <h1>{{ title }}</h1>
</header>

<app-file-upload></app-file-upload>

<div>
  <input type="file" class="custom-file-input" (change)="onChange($event)" accept=".txt">

  <div class="custom-file-input">
    <!-- <label for="fileInput">Choose a file</label> -->
    <input type="file" id="fileInput" accept=".txt" onchange="onChange(event)">
    <div class="dropdown-content">
      <p>Select a file</p>
      <button onclick="chooseFile()">Choose File</button>
    </div>
  </div>
</div>

<!-- ------------------------------------------------------- -->
<div *ngIf="fileContent !== ''" class="file-container">
  <h3 class="file-header">File Content</h3>
  <div class="file-content">
    <pre>{{ fileContent }}</pre>
  </div>
</div>


<!-- -------------------------------------------------------- -->
<div class="popup-container">
  <div class="chatbot-panel" *ngIf="isOpen">
    <div class="chatbot-header">
      <h2>Chatbot Panel</h2>
    </div>
    <div class="chatbot-messages">
      <div class="message" *ngFor="let message of messages">
        <div class="sender">{{ message.role | uppercase }}</div>
        <div class="content">{{ message.content }}</div>
      </div>
    </div>
    <div class="chatbot-input">
      <input type="text" [(ngModel)]="newMessage" placeholder="Type your message..." />
      <button (click)="sendMessage()">Send</button>
    </div>
  </div>
  <button class="popup-button" (click)="toggleChatbotPanel()">
    <mat-icon> chat</mat-icon>
  </button>
</div>
